:root {
  --primaryColor: #001529;
  --cardColor: #ebedff;
  --activeActionButtonColor: #001529;
  --disabledActionButtonColor: #dfdfdf;
  --activeActionButtonTextColor: rgb(207, 207, 207);
  --disabledActionButtonTextColor: #001529;
  --acceptButtonColor: #63d17b;
  --memberRequestActionButtonTextColor: #ffffff;
  --rejectButtonColor: #d16363;
  --pendingStatus: #24bd45;
  --completeStatus: #63d17b;
  --rejectedStatus: #d16363;
  --ongoingStatus: #f17500;
}
