.buttonStyle {
  border-radius: 10px !important;
  padding: 10px !important;
  width: 80px !important;
  background-color: var(--activeActionButtonColor) !important;
  color: var(--activeActionButtonTextColor) !important;
}
