@import "../../Constants//styleConstants.css";

#components_layout_demo_responsive .logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.2);
}

.site_layout_sub_header_background {
  background: #fff;
}

.layout {
  height: 100vh;
}
.sider,
.menu {
  background-color: var(--primaryColor) !important;
}

.avatar {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 100px;
}
#components-layout-demo-responsive .logo {
  height: 32px;
  margin: 16px;
  background: #fff;
}

.site-layout-sub-header-background {
  background: #fff;
}

.site-layout-background {
  background: #fff;
}

@media only screen and (min-width: 991px) {
  /*Tablets [900px -> 1200px]*/
  .layoutStyle {
    margin-left: 200px;
  }
}
@media only screen and (max-width: 990px) {
  /*Big smartphones [426px -> 600px]*/
  .layoutStyle {
    margin-left: 0;
  }
}
.keychainify-checked {
  background-color: red !important;
}
