.alert {
  margin: 1rem 0 !important;
}
p {
  word-break: keep-all;
}
.leftDiv {
  overflow-x: hidden;
}

@media only screen and (max-width: 1200px) {
  .rightDiv,
  .leftDiv {
    min-width: 50%;
  }
}
@media only screen and (max-width: 1000px) {
  /*Big smartphones [426px -> 600px]*/
  .rightDiv {
    display: none;
  }

  .leftDiv {
    min-width: 100% !important;
    margin-left: auto;
    margin-right: auto;
  }
}
@media only screen and (max-width: 425px) {
  /*Small smartphones [325px -> 425px]*/
  .rightDiv {
    display: none;
  }
  .leftDiv {
    min-width: 100% !important;
    margin-left: auto;
    margin-right: auto;
  }
}
