@import "../../Constants//styleConstants.css";

.container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 1rem;
  margin: 1rem;
  background-color: var(--primaryColor);
  color: white;
}

.topDiv {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
